In [1]:
import os
os.getcwd()

'C:\\Users\\guy74\\Documents\\NU Stuff\\ANA680\\Week 2\\Assignment4_BreastCancer_DeployWithFlask'

In [2]:
import sys
print(sys.executable)

# 2026_02_10 updates now for week 2. We are re-visiting the breast cancer data/assignment again this week but now for deploying via Flask
# Assignment insructions indicate to go with the model which performed the best last week which for me was the NaiveBayes 
# So as such, using that .ipynb for the NaiveBayes from last week as the baseline code for this week 2 assignment now
# Main differences are I've created a new environment called breast_cancer_flask now to do the work in, and we're going to retrain the mdoel one more time
# I think since we are now doing this training for the purposes of a "Real" deployment now and not training/exploring/testing/validation etc... 
# That we would no longer have the held out data for training set split and instead we'll simply train on the entirety of the data for this deployment

C:\Users\guy74\anaconda3\envs\breast_cancer_flask\python.exe

In [3]:
# After some initial confusion due to the first link on the assignment leading to adifferent incorrect file, I was able to figure out how to bring it in
# Basically had to use the second link to go straight to the source and examine the files from the downloaded zip. There are 8 total but we only need 1
# Or I guess technically we need 2 (the .data file is the main one but the .names file has some read-me type junk and the column headers in a list)
# Just manually extracting the column headers and will apply them here as headers to the data only csv rows from the main breast-cancer-wisconsin.data file

import pandas as pd
# Below taken from the breast-cancer-wisconsin.names file from the zip from the download direct from the site linked in the 2nd link in the assignment
column_names = [
    "id",
    "clump_thickness",
    "uniformity_cell_size",
    "uniformity_cell_shape",
    "marginal_adhesion",
    "single_epithelial_cell_size",
    "bare_nuclei",
    "bland_chromatin",
    "normal_nucleoli",
    "mitoses",
    "class"
]

# Further updates... while exporting these from .ipynb in the notebook to actual .py files for each model (which I THINK is what the assignment wants)
# I was running into issues due to my instance of VSCode running in a different directory versus the Jupyter Notebook
# Furthermore the method I used in VSCode to get it running from start to end without error (using __file__ to build a relative data path from the model file)
# Does not work on the Jupyter notebook side. I want the code to work in both platforms seamlessly and so modifying this a bit further
from pathlib import Path
try:
    # Running as a script (.py)
    PROJECT_ROOT = Path(__file__).resolve().parents[1]   #Step up a level outside of my models folder to the project's root folder
    DATA_PATH = PROJECT_ROOT / "Data" / "breast-cancer-wisconsin.data"

except NameError:
    # It'll throw an error on __file__ if running in a notebook (.ipynb) so then just set it the way it was working before
    DATA_PATH = Path("Data/breast-cancer-wisconsin.data")

data = pd.read_csv(
    DATA_PATH,
    header=None,
    names=column_names
)

data.head()

,id,clump_thickness,uniformity_cell_size,uniformity_cell_shape,marginal_adhesion,single_epithelial_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [4]:
#No need for the IDs, these shouldn't be present in a real model as they won't provide meaningful explanatory power and worse could cause problems etc
data = data.drop(columns=["id"])

In [5]:
# the missing values are ? in the .data file but let's change them to true NA's instead
data = data.replace("?", pd.NA)

# Now let's get an idea of how many rows there are with 
na_counts = data.isna().sum()
na_counts
# looks like the only feature which is sometimes missing values (Rarely) is bare_nuclei

clump_thickness                 0
uniformity_cell_size            0
uniformity_cell_shape           0
marginal_adhesion               0
single_epithelial_cell_size     0
bare_nuclei                    16
bland_chromatin                 0
normal_nucleoli                 0
mitoses                         0
class                           0
dtype: int64

In [6]:

rows_with_any_na = data.isna().any(axis=1).sum()
total_rows = data.shape[0]

rows_with_any_na, total_rows
#Only 16 out of 699 rows (aligns with the 16 expectation since only one feature was missing values and it had 16 missing)

(np.int64(16), 699)

In [7]:
#Okay it's very few so we'll just drop the 16 rows with NAs then
data = data.dropna()
data.shape

(683, 10)

In [8]:
# separate into features (x) and class labels (y)
X = data.drop(columns=["class"])
y = data["class"]
X.shape, y.value_counts()

((683, 9),
 class
 2    444
 4    239
 Name: count, dtype: int64)

In [9]:
data.head()
data.info()

<class 'pandas.DataFrame'>
Index: 683 entries, 0 to 698
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   clump_thickness              683 non-null    int64
 1   uniformity_cell_size         683 non-null    int64
 2   uniformity_cell_shape        683 non-null    int64
 3   marginal_adhesion            683 non-null    int64
 4   single_epithelial_cell_size  683 non-null    int64
 5   bare_nuclei                  683 non-null    str
 6   bland_chromatin              683 non-null    int64
 7   normal_nucleoli              683 non-null    int64
 8   mitoses                      683 non-null    int64
 9   class                        683 non-null    int64
dtypes: int64(9), str(1)
memory usage: 58.7 KB

In [10]:
#Force the bare_nuclei back to a numeric value just like the rest of the columns (showing str/object due to the ?'s originally)
X = X.apply(pd.to_numeric)
y = pd.to_numeric(y)

print(X.dtypes)
print(y.dtypes)

clump_thickness                int64
uniformity_cell_size           int64
uniformity_cell_shape          int64
marginal_adhesion              int64
single_epithelial_cell_size    int64
bare_nuclei                    int64
bland_chromatin                int64
normal_nucleoli                int64
mitoses                        int64
dtype: object
int64

In [11]:
#Used to do the training/test split here but for the official deployment purposes I think we wouldn't hold any data out anymore

In [11]:
#naive_bayes model only now
from sklearn.naive_bayes import GaussianNB


model = GaussianNB()
model.fit(X, y)

print("Model trained on full dataset.")

Model trained on full dataset.

In [13]:
# Normally would do evaluation on the test set etc but now we're done with that.... this use-case is for the "real deployment" so training on full set
#No evaluation code here now then.... but we DO need to add code for the next step in this deployment process; which is saving the model as pickle
import pickle

MODEL_PATH = Path("model.pkl")

with open(MODEL_PATH, "wb") as f:
    pickle.dump(model, f)

print("Saved:", MODEL_PATH.resolve())

Saved: C:\Users\guy74\Documents\NU Stuff\ANA680\Week 2\Assignment4_BreastCancer_DeployWithFlask\model.pkl

In [16]:
#Okay actually I do want a little bit of evaluation I just want to know out of curiosity..... 

from sklearn.metrics import (
    accuracy_score,
    precision_score,
    recall_score,
    f1_score,
    confusion_matrix,
    classification_report
)

# Use the loaded model for evaluation
y_pred = loaded_model.predict(X)

# Accuracy
accuracy = accuracy_score(y, y_pred)

# Precision, Recall, F1
precision = precision_score(y, y_pred, pos_label=4)
recall = recall_score(y, y_pred, pos_label=4)
f1 = f1_score(y, y_pred, pos_label=4)

print(f"Accuracy:  {accuracy:.4f}")
print(f"Precision: {precision:.4f}")
print(f"Recall:    {recall:.4f}")
print(f"F1 Score:  {f1:.4f}")

Accuracy:  0.9634
Precision: 0.9213
Recall:    0.9791
F1 Score:  0.9493

In [17]:
import pandas as pd

cm = confusion_matrix(y, y_pred)

cm_df = pd.DataFrame(
    cm,
    index=["Actual Benign (2)", "Actual Malignant (4)"],
    columns=["Predicted Benign (2)", "Predicted Malignant (4)"]
)

print("Confusion Matrix:")
print(cm_df)

Confusion Matrix:
                      Predicted Benign (2)  Predicted Malignant (4)
Actual Benign (2)                      424                       20
Actual Malignant (4)                     5                      234

In [18]:
print("\nClassification Report:")
print(classification_report(
    y,
    y_pred,
    target_names=["Benign", "Malignant"]
))

Classification Report:
              precision    recall  f1-score   support

      Benign       0.99      0.95      0.97       444
   Malignant       0.92      0.98      0.95       239

    accuracy                           0.96       683
   macro avg       0.95      0.97      0.96       683
weighted avg       0.96      0.96      0.96       683

In [19]:
#Just want to test reading in/loading in FROM the pk1 file save we just did in the last cell
with open(MODEL_PATH, "rb") as f:
    loaded_model = pickle.load(f)

# Predict first 5 rows as a sanity check
preds = loaded_model.predict(X.head(20))
print("  Predictions for first 20 rows:", preds.tolist())
print("Actual labels for first 20 rows:", y.head(20).tolist())

  Predictions for first 20 rows: [2, 4, 2, 4, 2, 4, 4, 2, 4, 2, 2, 2, 2, 2, 4, 4, 2, 2, 4, 2]
Actual labels for first 20 rows: [2, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 4, 2, 4, 4, 2, 2, 4, 2]

In [22]:
X.describe()

,clump_thickness,uniformity_cell_size,uniformity_cell_shape,marginal_adhesion,single_epithelial_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses
count,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000
mean,4.442167,3.150805,3.215227,2.830161,3.234261,3.544656,3.445095,2.869693,1.603221
std,2.820761,3.065145,2.988581,2.864562,2.223085,3.643857,2.449697,3.052666,1.732674
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000
50%,4.000000,1.000000,1.000000,1.000000,2.000000,1.000000,3.000000,1.000000,1.000000
75%,6.000000,5.000000,5.000000,4.000000,4.000000,6.000000,5.000000,4.000000,1.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000